@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Unbounded:wght@200..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Canela";
  src: url("./assets/font/Canela-Regular-Trial.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Canela";
  src: url("./assets/font/Canela-Medium-Trial.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Canela";
  src: url("./assets/font/Canela-Bold-Trial.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

.canela{
    font-family: "Canela", serif;
}
.dm-sans {
    font-family: "DM Sans", sans-serif;
}
.red-bg{
    background-color: #5B0D0D;
}
.red-color{
    color: #5B0D0D;
}
.cream-bg{
    background-color: #F9EFD5;
}
.cream-color{
    color: #F9EFD5;
}
.lora {
  font-family: "Lora", serif;

}
.raleway {
  font-family: "Raleway", sans-serif;

}
.great-vibes {
  font-family: "Great Vibes", cursive;
  
}
.inter {
  font-family: "Inter", sans-serif;
 
}
