
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Canela";
  src: url("./assets/font/Canela-Regular-Trial.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Canela";
  src: url("./assets/font/Canela-Medium-Trial.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Canela";
  src: url("./assets/font/Canela-Bold-Trial.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

.canela{
    font-family: "Canela", serif;
}
.dm-sans {
    font-family: "DM Sans", sans-serif;
}
.red-bg{
    background-color: #5B0D0D;
}
.red-color{
    color: #5B0D0D;
}
.cream-bg{
    background-color: #F9EFD5;
}
.cream-color{
    color: #F9EFD5;
}
.lora {
  font-family: "Lora", serif;

}
.raleway {
  font-family: "Raleway", sans-serif;

}
.great-vibes {
  font-family: "Great Vibes", cursive;
  
}